.header {
    background-color: #343841;
}

.header h1{
    margin: 30px;
    font-weight: 100;
    color: white;
}

.content {
    background-color: #353648;
    /*height: 50px;*/
    color: whitesmoke;
    padding: 20px;
}

input[type="number"] {
    width: 50px;
    height: 23px;
    font-size: 15px;
}